@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,400&family=Patrick+Hand&family=Raleway&family=Sofia+Sans:wght@300&display=swap');
body{
  padding: 2px;
  background-image: url('./../img/fondochess.jpg');
  background-size: 50%;
  background-position: center;
  border-radius: 3px;
}

*{
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  color: rgb(0, 0, 0);
  font-family: "Playfair Display", serif;
}

h1{
  text-align: center;
  font-size: 40px;
}

h2.menu-restaurante{
  text-align: center;
  font-size: 32px;
}

p.menu-restaurante{
  font-size: 20px;
  text-align: justify;
}

.column-3{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.menu-restaurante{
  text-align: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  min-height: 200px;
}

.imglogo {
  width: 50%;
  height: 50%;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 480px) {
  h1 {
  font-size: 30px;
  }
  
  h2.menu-restaurante {
  font-size: 24px;
  }
  
  p.menu-restaurante {
  font-size: 16px;
  }
  
  .column-3 {
  grid-template-columns: repeat(2,1fr);
  }
  
  .menu-restaurante {
  min-height: 150px;
  }
  }